---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0, 2 }}" class="no-js">
  <head>
    {% include head.html %}
    <meta name="google-site-verification" content="cKf4YmH0I7yz3txxoPqecgWlPAOeXeWkQV5pfK6N8p8" />
    <link rel="stylesheet" href="{{ '/assets/css/landing.css' | relative_url }}">
    {% include head/custom.html %}
  </head>

<body class="landing-body">
    <main class="landing-main" role="main" id="top">
      {{ content }}
    </main>

    {% include scripts.html %}
  </body>
</html>
